#finish{
    bottom: -1000vh;
    position: absolute;
}
::-moz-selection {
  color: black;
  background: whitesmoke;
}
::selection {
  color: black;
  background: whitesmoke;
}

@font-face {
    font-family: 'MetropolisItalic';
    src: url("fonts/SpaceMono-Italic.ttf");
}
@font-face {
    font-family: 'MetropolisRegular';
    src: url("fonts/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: 'MetropolisBold';
    src: url("fonts/SpaceMono-Bold.ttf");
}

@media screen and (max-width: 750px) {
    p {
      font-size: 3.6vw;
    }
    h1 {
        font-size: 7.5vw;
    }
    section {
        padding-left: 8%;
    }
  }
@media screen and (min-width: 751px) {
    p {
      font-size: 1.3vw;
    }
    h1 {
        font-size: 3.85vw;
    }
    section {
        padding-left: 25%;;
    }
  }
*
{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

p {
    top: 0;
    position: relative;
    width: 60%;
    font-family: 'MetropolisRegular';
    color: whitesmoke;
}

#h1{
    max-width: 60%;
}

h1 {
    top: 0;
    font-family: 'MetropolisBold';
    position: relative;
    color: whitesmoke;
    
}

section {

    padding-top: 300px;
    background-attachment: fixed;
    background-size: 100%, 100%;
    position: absolute;
    text-align: left;
    width: 100vw;
    height: 200vh;
    max-height: 200vh;
    scroll-snap-align: start;
}




header {

    z-index: 10000;
    padding-top: 8px;
    justify-content: right;
    align-content: right;
    max-height: 25px;
    min-width: 100%;
    max-width: 100%;
    position: fixed;
    transition-duration: 0.5s;
    display: flex;
    top: 0px;
    
}




.welcome {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/welcome-bg.png');
}
.apps {
    background-color: #0a0c0f;
    top: 200vh;
}
.div3 {
    background-color: #0a0c0f;
    top: 400vh;
}
.div4 {
    background-color: #0a0c0f;
    top: 600vh;
}
.div5 {
    background-color: #0a0c0f;
    top: 800vh;
}
.div6 {
    background-color: #0a0c0f;
    top: 1000vh;
}


#bottom-shadow{

    position: fixed;
    bottom: -10px;
    height: 20px;
    width: 100%;
    background-color: #0a0c0f;
    z-index: 9999;
    box-shadow: 0px 10px 40px 40px #0a0c0f;
}


header.sticky {

    outline: 1px solid whitesmoke;
    padding-bottom: 10px;
    height: 30px ;
    background-color: #0a0c0f;
    box-shadow: 0px 10px 40px 40px #0a0c0f;
}   

.about {

    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 10vh;
    bottom: -1150%;
    left: 0px;
    z-index: 10000;

}

header ul {

    display: flex;
    justify-content: right;
    align-items: center;
}

header ul li {


    position: relative;
    list-style: none;
    margin-right: 30px;
}

header ul li a{

    border: none;
    background: none;
    font-family: 'MetropolisItalic';
    font-size: 17px;
    border-radius: 50%;
    height: 40px;
    color: white;

}

::-webkit-scrollbar {

    background-color: #0a0c0f;
    width: 2px;
    left: 0px;
    position: absolute;
}

::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background-color: white;
    width: 10px;
}



.container {

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

body {

    overflow-x: hidden;
    max-width: 100vh;
    display: flex;
}







.loader {
    
    max-width: fit-content;
    position: relative;
}
.loader::before {

    content: '';
    position: absolute;
    bottom: 0;
    right: -5vw;
    width: 5vw;
    height: 0.2vw;
    background: whitesmoke;
    animation: blinkCursor 1s steps(3) infinite;

}

@keyframes blinkCursor  {

    0%, 60%{

        opacity: 0;
    }
    61%, 100%{

        opacity: 1;
    }

}

#welcome-text{
    
    background: whitesmoke;
    color: #0a0c0f;
    animation: typing 5s steps(10) forwards;
    animation-iteration-count: 1;
    overflow: hidden;
}

@keyframes typing {

    0%, 30%
    {
        width: 0;
    }
    60%
    {
        width: 23.58vw;
    }
}